
body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: #d0ecff;
}
.screen {
    display: none;
    padding: 20px;
}
#start-screen, #game-over-screen {
    display: block;
}
canvas {
    display: none;
    background-color: #a0d8f1;
    margin: 0 auto;
    display: block;
    border: 2px solid #333;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
}
